* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: purple;
}

body {
  margin: 0 auto;
  color: purple;
  cursor: pointer;
}

/* header */
.header {
  height: 100px;
  background-color: white;
  position: relative;
}

.header h1 {
  color: purple;
  text-align: center;
  line-height: 100px;
}

/* lnb_menu */
#lnb_chk {
  display: none;
}

#lnb_chk:checked ~ .lnb_ham_menu {
  display: none;
}

#lnb_chk ~ .lnb_ham_menu {
  display: block;
}

/* #lnb_chk:checked~.label .open_lnb {
  display: block;
}

#lnb_chk~.label .open_lnb {
  display: none;
} */

/* #lnb_chk:checked~.label .close_lnb {
  display: none;
}

#lnb_chk~.label .close_lnb {
  display: block;
} */

.lnb_web_outer {
  display: none;
}

/* .lnb_web_outer{display: none;} 저해상도 pc에서 display:block;속성 부여 */

.label {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.label label {
  color: purple;
}

.label label i {
  font-size: 30px;
  cursor: pointer;
}

.lnb_ham_menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 200px;
  /* background-color: purple; */
  z-index: 55;
  /* color: white; */
}

.lnb_ham_menu li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: purple;
  opacity: 0.7;
}

.lnb_ham_menu li a {
  color: white;
}

/* wrap */
.visual_main {
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.visual_main img {
  width: 100%;
  opacity: 0.8;
}

.notice_box {
}

.notice_box .notice {
  /* height: 100px; */
}

.notice_box .notice h1 {
  padding: 20px 0 5px 10px;
}

.notice_box .notice div {
  border-bottom: 1px dashed purple;
  box-sizing: border-box;
  margin: 10px;
  padding-bottom: 10px;
}

.notice_box .notice div p {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.notice_box .notice div span {
  padding-right: 10px;
  font-size: 14px;
  border-right: 1px solid lightgray;
  color: black;
}

.notice_box .notice div span.writter {
  color: purple;
}

.notice_box .notice div span.team {
}

.notice_box .notice div span.date {
  border-right: none;
}

/* footer */

.footer_outer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  height: 50px;
  background-color: purple;
  overflow: hidden;
  color: white;
}

.footer .sns {
}

.footer .sns span {
  padding: 10px;

  /* font-size: 15px; */
  line-height: 50px;
}

.footer .sns a {
  line-height: 50px;
}

.footer .sns a i {
  /* font-size: 30px; */
  color: white;
  height: 30px;
  width: 30px;
  background-color: white;
  color: purple;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

/*****************media_query*******************/
@media all and (min-width: 915px) and (orientation: landscape) {
  .visual_main {
    width: 100%;
    overflow: hidden;
    background-image: url(../images/gallery1.jpg);
  }
}
