* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
.header_ex {
  width: 100%;
  background-color: black;
  height: 50px;
  margin-bottom: 10px;
}
.header {
  width: 1070px;
  margin: 0 auto;
}
.wrap {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.wrap > div {
  display: flex;
  flex-direction: column;
  width: calc((100% - 10px) * 0.8);
}
.banner {
  height: calc((700px - 10px) * 0.5);
  margin-bottom: 10px;
  background-color: black;
}
.footer {
  background-color: black;
  height: calc((700px - 10px) * 0.5);
}
.aside {
  height: calc((700px - 10px) * 0.5);
  order: -1;
  width: calc((100% - 10px) * 0.2);
  height: 700px;
  margin-right: 10px;
  background-color: purple;
}

/* 미디어쿼리 */
/* mobile_web, table_web 320px-768px*/
@media all and (min-width: 320px) and (max-width: 768px) {
}
