* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
}

/* header */
.header {
  width: 1070px;
  height: auto;
  margin: 20px auto;
}

.header .lnb {
  overflow: hidden;
}

.header .lnb ul {
  width: 400px;
  height: 30px;
  float: right;
}

.header .lnb ul li {
  width: 20%;
  height: 100%;
  float: left;
}

.header .lnb ul li a {
  color: gray;
  font-weight: bold;
}

.header .lnb ul li a:last-child {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.header .lnb ul li span {
  position: absolute;
  width: 23px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  float: left;
  margin: 0 3px;
  border: 1px solid skyblue;
  box-sizing: border-box;
  background-color: skyblue;
  color: white;
  border-radius: 5px;
}

.header .logo {
  width: 1070px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.header .logo .logo_main {
  width: 250px;
  margin: 0 auto;
}

.header .logo .logo_main img {
  width: 250px;
  text-align: center;
}

.header .logo .logo_animation {
  width: 250x;
  position: absolute;
  left: 0;
  top: 0;
}

.header .logo .logo_animation .car_left {
  width: 100px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

.header .logo .logo_animation .car_left img {
  position: absolute;
  width: 100px;
  height: 80px;
  animation: drive 3s both infinite;
}

@keyframes drive {
  0% {
    top: 3px;
    left: 0;
  }

  5% {
    top: 5px;
    left: 0;
  }

  10% {
    top: 3px;
    left: 0;
  }

  15% {
    top: 5px;
    left: 0;
  }

  20% {
    top: 3px;
    left: 0;
  }

  25% {
    top: 5px;
    left: 0;
  }

  30% {
    top: 3px;
    left: 0;
  }

  35% {
    top: 5px;
    left: 0;
  }

  40% {
    top: 3px;
    left: 0px;
  }

  100% {
    left: 100px;
  }
}

.header .logo .logo_animation .car_right {
  display: block;
  width: 150px;
  float: right;
  animation: text_fade 3s 1s infinite;
}

@keyframes text_fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.header .logo .logo_animation .car_right h3 {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.header .logo .logo_animation .car_right p {
  font-weight: bold;
  font-size: 20px;
}

.header .logo .search {
  position: absolute;
  right: 0;
  top: 30px;
  width: 250px;
}
.header .logo .search .search_inner {
  position: relative;
}
.header .logo .search .search_inner input {
  border: 1px solid lightgray;
  color: lightgray;
  width: 250px;
  height: 25px;
}

.header .logo .search .search_inner i {
  position: absolute;
  color: lightgray;
  top: 5px;
  right: 15px;
}

#menu_chk {
  display: none;
}
#menu_chk:checked ~ .menu_open {
  display: block;
}
#menu_chk ~ .menu_open {
  display: none;
}
#menu_chk:checked ~ .menu_close {
  display: none;
}
#menu_chk ~ .menu_close {
  display: block;
}

#menu_chk ~ .whole_menu {
  display: block;
}

.menu_ex {
  width: 100vw;
  border-top: 1px solid lightgray;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.menu {
  width: 1070px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_left {
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  float: left;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.menu .menu_left p {
  color: rgb(51, 181, 241);
  line-height: 50px;
  font-weight: bold;
}

.menu .menu_left p a {
}

.menu .menu_left p a img {
  width: 20px;
  height: 20px;
}

.menu .menu_middle {
  width: 800px;
  height: 50px;
  line-height: 50px;
  float: left;
}

.menu .menu_middle ul {
}

.menu .menu_middle > ul > li {
  float: left;
}
.menu .menu_middle > ul > li:hover ul li {
}
.menu .menu_middle ul li a {
  padding: 0 20px;
  font-weight: bold;
}

.menu .menu_right {
  width: 200px;
  height: 50px;
  float: left;
}

.menu .menu_right ul {
}

.menu .menu_right ul li {
  float: left;
}

.menu .menu_right ul li a {
  padding: 0 10px;
  font-size: 13px;
}

/* banner */
.banner {
  width: 100vw;
}

.banner img {
  width: 100%;
}

/* main_page_product */
.main_page .product {
  width: 1070px;
  height: auto;
  margin: 0 auto 50px;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
}

.main_page .product h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.main_page .product div {
  overflow: hidden;
}

.main_page .product > div > div {
  width: 260px;
  height: 352px;
  float: left;
  margin-right: 10px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.main_page .product div div:last-child {
  margin-right: 0;
}

.main_page .product div img {
  width: 260px;
  height: 260px;
}

.main_page .product div div p {
  display: inline-block;
  border-radius: 3px;
  color: gray;
  font-size: 12px;
  padding: 1px 3px;
  margin: 5px 0;
  box-sizing: border-box;
}

.main_page .product div h4 {
  font-size: 15px;
}

.main_page .product div h5 b {
  color: gray;
  text-decoration-line: line-through;
  font-size: 11px;
}

.main_page .product div h5 {
  color: deepskyblue;
}

.main_page .product > div > div > div {
  margin: 10px;
}

.review_ex {
  width: 100vw;
  /* overflow: hidden;
  margin-bottom: 50px; */
}
.review_ex img {
  width: 100%;
}
.new {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}

.new h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.new div {
  width: 346.666666px;
  height: 346.666666px;
  float: left;
  margin-right: 15px;
  overflow: hidden;
}

.new div:hover img:first-child {
  display: none;
}

/* hover를 하면 가끔씩 형광등처럼 파바박 튀는데 왜 그런지 모르겠어요. */
.new div:last-child {
  margin-right: 0;
}

.new div img {
  width: 346.666666px;
  height: 346.666666px;
}

.recipe_ex {
  width: 100%;
  background-image: url(../images/recipe_bg.jpg);
  background-size: cover;
}

.recipe_ex .recipe {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding-bottom: 50px;
}

.recipe_ex .recipe .recipe_text {
  margin: 20px 0;
}
.recipe_ex .recipe .recipe_text p {
  font-size: 12px;
  color: rgb(100, 98, 98);
}

.recipe_ex .recipe .recipe_text h2 {
  color: rgb(100, 98, 98);
}
.recipe_ex .recipe .recipe_text h2 b {
  color: black;
  font-weight: bold;
}
.recipe_ex .recipe .recipe_left {
  width: 525px;
  height: auto;
  float: left;
  margin-right: 20px;
}
.recipe_ex .recipe .recipe_left div:first-child {
  width: 345px;
  height: 230px;
  height: auto;
  float: left;
}
.recipe_ex .recipe .recipe_left div:last-child {
  width: 180px;
  height: 230px;
  height: auto;
  float: left;
}

.recipe_ex .recipe .recipe_right {
  width: 525px;
  height: auto;
  float: left;
}
.recipe_ex .recipe .recipe_right div:first-child {
  width: 345px;
  height: 230px;

  height: auto;
  float: left;
}
.recipe_ex .recipe .recipe_right div:last-child {
  width: 180px;
  height: 230px;

  height: auto;
  float: left;
}

.sns_ex {
  width: 100vw;
  background-color: rgba(243, 241, 241, 0.973);
  overflow: hidden;
  padding-bottom: 50px;
}
.sns_ex .sns {
  width: 1070px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.sns_ex .sns h1 {
  font-style: italic;
  margin-bottom: 10px;
}
.sns_ex .sns .sns_menu {
  width: 590px;
  margin: 0 auto;
}
.sns_ex .sns .sns_menu ul {
}
.sns_ex .sns .sns_menu ul li {
  float: left;
  width: 110px;
  margin: 0 10px 10px 0;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding: 10px;
}

.sns_ex .sns .sns_menu ul li:hover {
  border-bottom: 1px solid black;
}
.sns_ex .sns .sns_menu ul li:last-child {
  margin-right: 0;
}
.sns_ex .sns .sns_menu ul li a {
  font-size: 13px;
  color: gray;
  font-weight: bold;
}

.sns_ex .sns .sns_menu ul li:hover a {
  color: black;
}
.sns_ex .sns .sns_detail {
  width: 550px;
  margin: 0 auto;
}
.sns_ex .sns .sns_detail > div {
  position: relative;
  width: 170px;
  float: left;
  margin-right: 20px;
}
.sns_ex .sns .sns_detail > div:last-child {
  margin-right: 0;
}
.sns_ex .sns .sns_detail > div > div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sns_ex .sns .sns_detail > div > div > img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.sns_ex .sns .sns_detail > div > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notice {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.notice > div > div > div {
  height: 30px;
  padding-top: 10px;
}
.notice .notice_left .notice_left_right div:first-child {
  text-indent: -99999px;
}
.notice .notice_left {
  width: 400px;
  float: left;
}
.notice .notice_left .notice_left_left {
  width: 200px;
  float: left;
}
.notice .notice_left .notice_left_left h4 {
}
.notice .notice_left .notice_left_left h2 {
  color: rgb(74, 188, 233);
}
.notice .notice_left .notice_left_left span {
  font-size: 11px;
}
.notice .notice_left .notice_left_left span b {
}
.notice .notice_left .notice_left_right {
  width: 200px;
  float: left;
}
.notice .notice_left .notice_left_right div {
  position: relative;
  /* margin-bottom: 15px; */
}
.notice .notice_left .notice_left_right div p {
  font-size: 12px;
}
.notice .notice_left .notice_left_right div p b {
  font-size: 13px;
}
.notice .notice_left .notice_left_right div i {
  position: absolute;
  right: 50px;
  top: 15px;
}
.notice .notice_right {
  width: 600px;
  float: left;
}
.notice .notice_right .notice_right_left {
  width: 250px;
  height: auto;
  float: left;
}
.notice .notice_right .notice_right_left > div h4 {
  width: 250px;
}
.notice .notice_right .notice_right_left div:first-child {
  width: 120px;
  height: auto;
  float: left;
}
.notice .notice_right .notice_right_left div:first-child img {
  width: 120px;
  height: 120px;
}
.notice .notice_right .notice_right_left div:last-child {
  width: 120px;
  float: left;
}
.notice .notice_right .notice_right_left div:last-child img {
  width: 120px;
}
.notice .notice_right .notice_right_right {
  width: 350px;
  float: left;
}
